
    {% for message in messages %}

        {% if message.tags == 'SUCCESS' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button class="btn btn-close" data-bs-dismis=></button>
            </div>
        {% endif %}  

        {% if message.tags == 'ERROR' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
            </div>  
        {% endif %}  

        {% if message.tags == 'WARNING' %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endif %}  

    {% endfor %}    
