{% extends 'layout/base.html' %}
{% block title%} About | {% endblock%}
{% load static %}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        <p>Power Learn University is based in Lusaka, Zambia and offers a wide range of undergraduate and postgraduate programs in various fields, including technology, business, engineering, health sciences, and humanities.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="Power learn University">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h1 class="display-5">Welcome to Power Learn University</h1>
            <p class="lead">
              An innovative institution of higher learning based in Lusaka, Zambia.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Power Learn University is based in Lusaka, Zambia and offers a wide range of undergraduate and postgraduate programs in various fields, including technology, business, engineering, health sciences, and humanities.</li>
              <li><i class="bi bi-check-circle"></i> Our faculty members are experts in their fields and are dedicated to providing personalized attention and support to our students.</li>
              <li><i class="bi bi-check-circle"></i> We offer a range of experiential learning opportunities, including internships, research projects, and community service programs, to provide our students with hands-on and practical learning experiences.</li>
            </ul>
            <p>
              Welcome to Power Learn University, an innovative institution of higher learning based in Lusaka, Zambia. Our mission is to empower students to become leaders in their fields through a personalized and practical education that prepares them for success in a globalized world.

At Power Learn University, we believe that education should be accessible to all. We offer a wide range of undergraduate and postgraduate programs in various fields, including technology, business, engineering, health sciences, and humanities. Our programs are designed to be flexible, allowing students to balance their studies with work and other commitments.

Our faculty members are experts in their fields, with years of practical experience and a passion for teaching. They are dedicated to providing personalized attention and support to our students, helping them to reach their full potential.

We believe that learning should be hands-on and practical. That's why we offer a range of experiential learning opportunities, including internships, research projects, and community service programs. Our students have the opportunity to work with leading companies and organizations in their fields, gaining real-world experience and building valuable networks.

At Power Learn University, we are committed to providing a safe and inclusive learning environment for all. We celebrate diversity and welcome students from all backgrounds and cultures. Our campus is equipped with modern facilities and resources, including state-of-the-art classrooms, labs, and libraries.

We invite you to join our community of learners and become part of the Power Learn family. Whether you're just starting your academic journey or looking to advance your career, we have a program that's right for you.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ no_of_students }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ no_of_programs }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Programs</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ no_of_levels }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Study Levels</p>
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            {% if testimonials %}
              {% for testify in testimonials %}
                <div class="swiper-slide">
                  <div class="testimonial-wrap">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                      <h3>{{ testify.name }}</h3>
                      <h4>{{ testify.title }}</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          {{ testify.body }}
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
                {% endfor %}
            {% else %}

            <h4>There are no testimonials yet</h4

            {% endif %}  

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    {% endblock %}