{% extends 'layout/base.html' %}
{% block title%} Programs | {% endblock%}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Programmes</h2>
        <p>At Power Learn University, we offer a variety of undergraduate and postgraduate programmes in the field of technology. Our programmes are designed to equip you with the knowledge and skills you need to succeed in today's fast-paced and ever-evolving technological landscape. Whether you're interested in software development, cybersecurity, data science, or another area of technology, our expert faculty will provide you with a comprehensive and practical education that prepares you for success in your career. Browse our technology programmes to find one that aligns with your interests and career goals.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses" style="padding-top: 0">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% if programs %}
            {% for program in programs %}
              <div class="col-lg-4 col-md-6 d-flex py-5 align-items-stretch">
                <div class="course-item">
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>{{ program.study_level.name }}</h4>
                    </div>

                    <h3><a href="{{ program.get_absolute_url }}">{{ program.name }}</a></h3>
                    <p>{{ program.description }}</p>
                    <div class="trainer d-flex justify-content-between align-items-center">
                      <div class="trainer-profile d-flex align-items-center gap-3">
                        <img src="{{ program.lectures.image.url }}" alt="{{ program.lectures.name }}">
                        <small>{{ program.lectures.name }}</small>
                      </div>
                      <div class="trainer-rank d-flex align-items-center">
                        <i class="bx bx-user"></i>&nbsp;50
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- End Course Item-->
          {% endfor %} 
          {% else %} 
          
            <h3>There are no programs yet</h3>

          {% endif %}  
        </div>

      </div>
    </section><!-- End Courses Section -->


{% endblock %}