{% extends 'layout/base_apply.html' %}
{% block title%} Apply | {% endblock%}
{% load static %}

{% block content %}

<section class="contact">
    <div class="container">

        {% include 'partials/_messages.html' %}

        <div class="row">
            <div class="pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h1 class="display-4">Enrollment Application</h1>
                
                <p class="py-2 lead">Please review carefully and fill out all applicable fields - this will allow us to begin the enrollment process. This form should take you about 15 minutes to complete. Once you’ve applied, we’ll reach out with access to our portal, where you’ll be able to submit transcripts and other information to complete your enrollment.
                <p class="fst-italic text-muted d-inline-block"><strong>Please note:</strong> Fields with an <strong class="text-danger">*</strong> are required.</p>
                <form method="POST" enctype="multipart/form-data" class="plu-form"> {% csrf_token %}
                    {{form.as_p}}
                    <div class="text-left"><button type="submit" class="btn btn-outline-danger rounded-0 px-4 py-2 btn-lg font-bold" style="text-transform: uppercase;">Submit Application</button></div>
                </form>
            </div>    
        </div>     
    </div>
</section>
{% endblock %}