{% extends 'layout/base_apply.html' %}
{% block title%} Login | {% endblock%}
{% block content %}

<section class="contact pt-3">
    <div class="container" data-aos="fade-in">

        <div class="row mt-md-5 justify-content-center align-items-center">
            <div class="col-lg-6 mt-5 mt-lg-0">
                {% if messages %}
                <div class="alert alert-danger">
                    <ul class="list-unstyled my-0">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>        
                {% endif %}

                <h1 class="text-center text-md-start">Log in to {{ school_settings.school_name | capfirst }} to apply</h1>
                <form action="{% url 'login' %}" method="POST" role="form" class="mt-4 plu-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                        <div class="col-md-12 form-group mb-3">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="Password">
                        </div>
                    </div>    
                    <div class="text-center text-md-start"><button type="submit" class="btn btn-danger rounded-pill px-4 py-2 text-uppercase">Log in</button></div>
                </form>
                <p class="my-3 text-center text-md-start">Don't have an account? <a href="{% url 'register' %}"> Register</a></p>
            </div>
        </div>    
    </div>
</section>

{% endblock %}