{% extends 'layout/base_apply.html' %}

{% load static %}
{% block title%} Register | {% endblock%}
{% block content %}

<section class="about contact">
    <div class="container" data-aos="fade-in">
        <div class="row d-flex flex-col gap-5">
            <div class="col-lg-6 d-none d-md-block align-self-stretch" data-aos="fade-in" data-aos-delay="90">
              <img src="{% static 'img/5.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0 order-2 order-lg-1 content">

                {% if messages %}
                    <div class="alert alert-warning">
                       <ul class="list-unstyled my-0">
                            {% for message in messages%}
                                <li>{{ message }}</li>
                             {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <h1 class="text-center text-md-start">Register to Apply</h1>
                <p class="lead text-center text-md-start">Create your {{ school_settings.school_name | capfirst }} account to start your application.</p>
                <form action="{% url 'register' %}" method="POST" role="form" class="plu-form"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="first_name" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="last_name" required>
                        </div>
                    </div>

                    <div class="mb-4">
                        <input type="text" class="form-control" name="username" required placeholder="Username">
                    </div>

                    <div class="mb-4">
                        <input type="email" class="form-control" name="email" required placeholder="Email Address">
                    </div>

                    <div class="mb-4">
                        <input type="password" class="form-control" name="password1" required placeholder="Password">
                    </div>
                    {% comment %} <div class="mb-3">
                        <input type="password" class="form-control" placeholder="password2" name="password2" required>
                    </div> {% endcomment %}
                    <div class="text-center text-md-start"><button type="submit" class="btn btn-danger rounded-pill px-4 py-2">REGISTER</button></div>
                </form>
                <p class="my-3 text-center text-md-start">Already have an account? <a href="{% url 'login' %}"> Log in</a></p>           
            </div> 
        </div>       
    </div>
</section>

{% endblock %}