{% extends 'layout/base.html' %}

{% load static %}
{% block title%} Register | {% endblock%}
{% block content %}

<section class="about contact">
    <div class="container" data-aos="fade-in">
        <div class="row">
            <div class="col-lg-7" data-aos="fade-in" data-aos-delay="90">
              <img src="{% static 'img/3.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0 order-2 order-lg-1 content">

                {% if messages %}
                    <div class="alert alert-danger">
                       <ul class="list-unstyled my-0">
                            {% for message in messages%}
                                <li>{{ message }}</li>
                             {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <h2>Register to Apply</h2>
                <form action="" method="POST" role="form" class="mt-4 php-email-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <small class="text-danger">{{ field.errors }}</small>
                            <div>{{ field.label_tag }}</div>
                            <div>{{ field }}</div>
                        </div>    
                    {% endfor %}
                    <div class="text-left"><button type="submit" class="btn btn-danger rounded-pill px-4 py-2">REGISTER</button></div>
                </form>
                <p class="my-3">Already have an account? <a href="{% url 'login' %}"> Log in</a></p>           
            </div> 
        </div>       
    </div>
</section>

{% endblock %}