{% load static %}
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center" style="padding-top: 6px;">
    {% url 'home' as url %}
    <a href="{{ url }}" class="logo me-auto"><img src="{% static 'img/logo2.png' %}" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>         

          {% url 'home' as url %}
          <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">Home</a></li>
          {% url 'programs' as url %}
          <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">Programs</a></li>
          {% url 'about' as url %}
          <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">About</a></li>        
          {% url 'contact' as url %}
          <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">Contact</a></li>
          
          {% if request.user.is_authenticated %}

            <li class="dropdown"><a href="#"><span>Hi, {{ user.username }}</span> <i class="bi bi-chevron-down"></i></a>
              <ul style="right: 0; left:auto">
                {% url 'apply' as url %}
                <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">Online application</a></li>              {% url 'application.home' as url %}
                {% url 'logout' as url %}
                <li><a href="{{ url }}">Log out</a></li>
              </ul>
            </li>

          {% else %}
          
            <li class="dropdown"><a href="#"><span>Student</span> <i class="bi bi-chevron-down"></i></a>
              <ul style="right: 0; left:auto">
                  {% url 'apply' as url %}
                  <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">Online application</a></li>
                  {% url 'login' as url %}
                  <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">Login</a></li> 
                  {% url 'register' as url %}
                  <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">Register</a></li>
              </ul>
            </li>
          
          {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
      
    <a href="{% url 'apply' %}" class="get-started-btn">Apply online</a>
  </div>
</header>

