{% if request.path == '/' %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative mt-4" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>We offer the best study programs in the country</h2>
      <a href="{% url 'apply' %}" class="btn-get-started" style="font-weight: bold;">Apply online</a>
    </div>
</section><!-- End Hero -->
{% endif %}